span.blue
  color $blue
span.bold
  bold()
span.block
  display block
.headling
  bebasbold()
  text-transform uppercase
  color $blue
  font-size 65px
  line-height 65px
  text-align center
  padding-top 50px
  padding-bottom 50px
  text-shadow 1px 1px 0 rgba(0,0,0,.75)
  @media screen and (max-width: 800px)
    font-size 50px
    line-height 50px
  @media screen and (max-width: 380px)
    font-size 40px
    line-height 40px